<h1 mat-dialog-title>Black Fungus Virus Symptoms</h1>
<div mat-dialog-content>
    As cases of blacks fungus, mucormycosis, raise concerns across the country, 
    AIIMS Director Randeep Guleria clarified that the fungal infection is not new,
     but the cases have increased with COVID-19. Guleria said the ‘misuse’ of steroids
     is one of the major causes behind black fungus cases.
    <p>
        “This disease (Mucormycosis) can affect the face, infecting nose, orbit of eye,
         or brain, which can cause even vision loss. It can also spread to the lung," 
         Guleria said, adding that people should follow protocols of infection control
         practices at hospitals. “It is been seen that secondary infections, fungal & bacterial, are causing more mortality," Guleria added.
  </div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>