<h1 mat-dialog-title>Corona Virus Symptoms</h1>
<div mat-dialog-content>
  <ul>
  <li>Fever or chills</li>
  <li>Cough</li>
  <li>Shortness of breath or difficulty breathing</li>
  <li>Fatigue
  <li>Muscle or body aches</li>
  <li>Headache</li>
  <li>New loss of taste or smell</li>
  <li>Sore throat</li>
  <li>Congestion or runny nose</li>
  <li>Nausea or vomiting</li>
  <li> Diarrhea</li>
  </ul>
</div>
  <div mat-dialog-actions>
  <button mat-button mat-dialog-close="true">Close</button>
  </div>