<h1 mat-dialog-title>White Fungus Virus Symptoms</h1>
<div mat-dialog-content>
    Patients of white fungus infection show symptoms similar to COVID-19.
    The four white fungus cases reported in Patna hospital showed COVID-related symptoms
    but did not test positive for COVID. In all the cases, the lungs of the patients were
    found infected. The symptoms can also be similar to black fungus.
    <p>
     As the white fungus affects lungs and chest, it may lead to cough, chest pain, breathlessness. 
    The infection may have inflammatory symptoms and cause swelling, infections, persistent headaches and pains.
  </div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>